In [5]:
import pandas as pd

In [6]:
#matches = pd.read_csv("../../preprocessing/data/matches.csv")
matches = pd.read_csv("../../feature_creation/data/all_matches_processed.csv")

C:\Users\Pawel\AppData\Local\Temp\ipykernel_38900\3102909427.py:2: DtypeWarning: Columns (27,234,235,236,237,238) have mixed types. Specify dtype option on import or set low_memory=False.
  matches = pd.read_csv("../../feature_creation/data/all_matches_processed.csv")

In [7]:
players_df = pd.concat([
    matches[['winner_id', 'winner_name', 'winner_rank', 'winner_age', 'winner_hand']].rename(columns={
        'winner_id': 'player_id',
        'winner_name': 'name',
        'winner_rank': 'rank',
        'winner_age': 'age',
        'winner_hand': 'hand'
    }),
    matches[['loser_id', 'loser_name', 'loser_rank', 'loser_age', 'loser_hand']].rename(columns={
        'loser_id': 'player_id',
        'loser_name': 'name',
        'loser_rank': 'rank',
        'loser_age': 'age',
        'loser_hand': 'hand'
    })
])

# Drop duplicates and keep the most recent rank
players_df = players_df.drop_duplicates(subset=['player_id']).reset_index(drop=True)

players_df

     player_id                   name   rank   age   hand
0       105238    Alexandr Dolgopolov   38.0  29.1      R
1       200282         Alex De Minaur  208.0  18.8      R
2       105732  Pierre Hugues Herbert   81.0  26.7      R
3       106368    Ramkumar Ramanathan  148.0  23.1      R
4       111577        Jared Donaldson   54.0  21.2      R
..         ...                    ...    ...   ...    ...
610     268387              jasika o.  179.0  27.0   left
611     642543              dougaz a.  231.0  27.0   left
612     509280        basilashvili n.  206.0  32.0  right
613     601212              samrej k.  418.0  23.0  right
614     323036           majchrzak k.  122.0  29.0  right

[615 rows x 5 columns]

In [8]:
players_df.to_csv('../data/players.csv', index=False)