In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv("../../preprocessing/data/matches.csv")

In [3]:
players_df = pd.concat([
    matches[['winner_id', 'winner_name', 'winner_rank', 'winner_age', 'winner_hand']].rename(columns={
        'winner_id': 'player_id',
        'winner_name': 'name',
        'winner_rank': 'rank',
        'winner_age': 'age',
        'winner_hand': 'hand'
    }),
    matches[['loser_id', 'loser_name', 'loser_rank', 'loser_age', 'loser_hand']].rename(columns={
        'loser_id': 'player_id',
        'loser_name': 'name',
        'loser_rank': 'rank',
        'loser_age': 'age',
        'loser_hand': 'hand'
    })
])

# Drop duplicates and keep the most recent rank
players_df = players_df.drop_duplicates(subset=['player_id']).reset_index(drop=True)

players_df

     player_id                 name   rank   age hand
0       105238  Alexandr Dolgopolov   38.0  29.1    R
1       200282       Alex De Minaur  208.0  18.8    R
2       105992        Ryan Harrison   47.0  25.6    R
3       105051        Matthew Ebden   76.0  30.0    R
4       104999        Mischa Zverev   33.0  30.3    L
..         ...                  ...    ...   ...  ...
546     106187       Denis Yevseyev  260.0  30.3    R
547     210696     Alexander Blockx  646.0  18.5    R
548     200418         Karl Friberg  433.0  24.5    R
549     133975      Benjamin Hassan  161.0  28.6    R
550     200188     Matteo Martineau  299.0  24.8    R

[551 rows x 5 columns]

In [4]:
players_df.to_csv('../data/players.csv', index=False)